<center>
<div class="jumbotron">
  <h1>Gameshare</h1>
  <p>The perfect place for sharing your epic gaming moments</p>
  <p><a class="btn btn-primary btn-lg" href="games/new" role="button">Add New Game</a></p>
</div>
</center>
