<center>
    <br>
    <br>
  <h1><font style="max-width: 400px">Gameshare<br><h3>The perfect place for sharing your epic gaming moments</h3></h1>
  <br>
 
  <%= link_to "All Games", games_path, class: "btn btn-primary btn-lg" %>
</center>

  <style>
   body, html {
    height: 100%;
}
  body { 
    /* The image used */
    background-image: url("https://i0.wp.com/clickker.in/wp-content/uploads/2016/02/funny_illustrations_of_evolution_of_man_640_24.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  </style>